In [1]:
import pandas as pd
df = pd.read_csv('Reviews.csv')
df.head()

,_id,date,opinion,source
0,62666b9985333f154f135ed9,05/04/2022,Good work life balance. Lot of personal growth...,glassdoor
1,62666b9985333f154f135eda,25/03/2022,Group benefits Lots of freedom Horizontal stru...,glassdor
2,62666b9985333f154f135edb,24/03/2022,"It's so so their, no one disturb you daily, Ta...",glassdoor
3,62666b9985333f154f135edc,14/01/2022,"Good environment , good salar, No flexible hou...",glassdoor
4,62666b9985333f154f135edd,26/09/2021,"Voiture, Assurance, Fuel card, Meal voucher, E...",glassdoor

In [2]:
df['opinion']

0      Good work life balance. Lot of personal growth...
1      Group benefits Lots of freedom Horizontal stru...
2      It's so so their, no one disturb you daily, Ta...
3      Good environment , good salar, No flexible hou...
4      Voiture, Assurance, Fuel card, Meal voucher, E...
                             ...
125    Fun, lively company with a focus on delivering...
126    great employer. Started working straight out o...
127    very dynamic group, all companies are inspired...
128    Cronos isn't in the news much because it's goi...
129    It's fantastic how De Cronos Groep supports en...
Name: opinion, Length: 130, dtype: object

In [3]:
from textblob import TextBlob
sentiment = []
for ind in df.index:
     text = df['opinion'][ind]
     blob = TextBlob(text)
     score = blob.sentiment.polarity# -1 negatief 1 positief
     if score > 0:          
        if score >= 0.5:
            if score <0.6:
                sentiment.append('neutral')
            else:
                sentiment.append('positive')
        else:
            sentiment.append('positive')
     else:
         sentiment.append("negative")

df['sentiment'] = sentiment
df.head()

,_id,date,opinion,source,sentiment
0,62666b9985333f154f135ed9,05/04/2022,Good work life balance. Lot of personal growth...,glassdoor,positive
1,62666b9985333f154f135eda,25/03/2022,Group benefits Lots of freedom Horizontal stru...,glassdor,negative
2,62666b9985333f154f135edb,24/03/2022,"It's so so their, no one disturb you daily, Ta...",glassdoor,positive
3,62666b9985333f154f135edc,14/01/2022,"Good environment , good salar, No flexible hou...",glassdoor,positive
4,62666b9985333f154f135edd,26/09/2021,"Voiture, Assurance, Fuel card, Meal voucher, E...",glassdoor,positive

In [4]:
from textblob import TextBlob


text ="Good work life Balance. Lot of personal growth bad they suck i hate them worst place to work no future really bad place "


blob = TextBlob(text)
sentiment = blob.sentiment.polarity# -1 negatief 1 positief
print(sentiment)

-0.3571428571428571