In [3]:
import pandas as pd

df = pd.read_csv(r'C:\Users\Rehts\Documents\Repositories\cronos-sentiment-analyse\MAIN\final_reviews.csv')
df.head()

,id,company,opinion,date,rating,source,score,sentiment
0,0,your oxygen,December 2014 ben ik bij Your Oxygen ingeschre...,14/02/2015,4,facebook,0.4574,positive
1,1,ARXUS INC.,Custom professional IT solutions.,29/04/2018,5,google,0.1779,positive
2,2,ARXUS INC.,Belgian cloud at its best!,29/04/2017,5,google,0.6696,positive
3,3,ARXUS INC.,Fast growing company with motivated people. Kn...,29/04/2018,5,google,0.6114,positive
4,4,ASTENA,Ok,2021/10/29,5,google,0.2960,positive

In [5]:
df = df.drop(['id'], axis=1)
df.head()

,company,opinion,date,rating,source,score,sentiment
0,your oxygen,December 2014 ben ik bij Your Oxygen ingeschre...,14/02/2015,4,facebook,0.4574,positive
1,ARXUS INC.,Custom professional IT solutions.,29/04/2018,5,google,0.1779,positive
2,ARXUS INC.,Belgian cloud at its best!,29/04/2017,5,google,0.6696,positive
3,ARXUS INC.,Fast growing company with motivated people. Kn...,29/04/2018,5,google,0.6114,positive
4,ASTENA,Ok,2021/10/29,5,google,0.2960,positive

In [ ]:
df.drop_duplicates(subset=None, inplace=True)
df.to_csv('final_reviewsV2.csv', index=True)