In [20]:
import pandas as pd

df = pd.read_csv(r'C:\Users\Rehts\Documents\Repositories\cronos-sentiment-analyse\MAIN\final_reviews.csv')
df.head()

,id,company,opinion,date,rating,source,score,sentiment
0,0,your oxygen,December 2014 ben ik bij Your Oxygen ingeschre...,14/02/2015,4,facebook,0.4574,positive
1,1,ARXUS INC.,Custom professional IT solutions.,29/04/2018,5,google,0.1779,positive
2,2,ARXUS INC.,Belgian cloud at its best!,29/04/2017,5,google,0.6696,positive
3,3,ARXUS INC.,Fast growing company with motivated people. Kn...,29/04/2018,5,google,0.6114,positive
4,4,ASTENA,Ok,2021/10/29,5,google,0.2960,positive

In [21]:
df = df.drop(['id'], axis=1)
df.head()

,company,opinion,date,rating,source,score,sentiment
0,your oxygen,December 2014 ben ik bij Your Oxygen ingeschre...,14/02/2015,4,facebook,0.4574,positive
1,ARXUS INC.,Custom professional IT solutions.,29/04/2018,5,google,0.1779,positive
2,ARXUS INC.,Belgian cloud at its best!,29/04/2017,5,google,0.6696,positive
3,ARXUS INC.,Fast growing company with motivated people. Kn...,29/04/2018,5,google,0.6114,positive
4,ASTENA,Ok,2021/10/29,5,google,0.2960,positive

In [22]:
df.drop_duplicates(subset=None, inplace=True)
df.to_csv('final_reviewsV2.csv', index=True)

,company,opinion,date,rating,source,score,sentiment
355,2Commit,The managing partners look for projects that f...,27/04/2021,3,glassdoor,0.0772,positive
1,ARXUS INC.,Custom professional IT solutions.,29/04/2018,5,google,0.1779,positive
2,ARXUS INC.,Belgian cloud at its best!,29/04/2017,5,google,0.6696,positive
3,ARXUS INC.,Fast growing company with motivated people. Kn...,29/04/2018,5,google,0.6114,positive
4,ASTENA,Ok,2021/10/29,5,google,0.2960,positive
...,...,...,...,...,...,...,...
374,iCredit,"Pleasant working atmosphere, a lot of flexibil...",14/12/2018,5,glassdoor,0.8126,positive
101,iFacto,"no annual evaluation, no career planning",06/01/2022,1,glassdoor,-0.5267,negative
381,iLean,Chance to learn a lotMany different clients an...,15/09/2020,3,glassdoor,0.2500,positive
384,nControl,"- Small team- It is a good place to learn, - B...",07/06/2019,3,glassdoor,0.6597,positive
0,your oxygen,December 2014 ben ik bij Your Oxygen ingeschre...,14/02/2015,4,facebook,0.4574,positive