In [1]:
import pandas as pd

df = pd.read_csv('./sa_cronos_reviews.csv')
df.head()

,id,vader_neg,vader_neu,vader_pos,vader_compound,sentiment,roberta_neg,roberta_neu,roberta_pos,company,date,opinion,rating,source
0,0,0.0,0.957,0.043,0.4574,positive,0.036182,0.698832,0.264986,your oxygen,14/02/2015,December 2014 ben ik bij Your Oxygen ingeschre...,4,facebook
1,1,0.0,0.638,0.362,0.1779,positive,0.017613,0.534629,0.447757,ARXUS INC.,29/04/2018,Custom professional IT solutions.,5,google
2,2,0.0,0.471,0.529,0.6696,positive,0.002808,0.045268,0.951924,ARXUS INC.,29/04/2017,Belgian cloud at its best!,5,google
3,3,0.0,0.643,0.357,0.6114,positive,0.004523,0.025686,0.969791,ARXUS INC.,29/04/2018,Fast growing company with motivated people. K...,5,google
4,4,0.0,0.000,1.000,0.2960,positive,0.080319,0.432665,0.487016,ASTENA,2021-10-29,Ok,5,google

In [2]:
rating = df['vader_compound']
max_value = rating.max()
print(max_value)

1.0

In [2]:
rating = df['vader_compound']
min_value = rating.min()
print(min_value)

-0.836