# Sentiment Analysis - Cronos
In this notebook I will be making an sentiment analysis of the Cronos Group, that we scraped from various websites. I will be using two different techniques, to compare the acurracy of both the analysis.

1. VADER (Valence Aware Dictionary and sEntiment Reasoner) - Bag of Words approach
2. Roberta Pretrained Model from ðŸ¤—
3. Hugging Face Pipeline

For more information on the used techniques:
- [VADER](https://github.com/cjhutto/vaderSentiment)
- [Hugging Face](https://huggingface.co/models)

# Step 0 - Import packages and read in data

In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

plt.style.use('ggplot')

import nltk

In [15]:
df = pd.read_csv('./cronos_reviews.csv')
df.head(5)

,id,company,date,opinion,rating,source
0,0,your oxygen,14/02/2015,December 2014 ben ik bij Your Oxygen ingeschre...,4.0,facebook
1,1,ARXUS INC.,29/04/2018,Custom professional IT solutions.,5.0,google
2,2,ARXUS INC.,29/04/2017,Belgian cloud at its best!,5.0,google
3,3,ARXUS INC.,29/04/2018,Fast growing company with motivated people. K...,5.0,google
4,4,ASTENA,2021-10-29,Ok,5.0,google

In [ ]:
df['opinion']